/* CONTROLS FOR ENTIRE PAGE */
@font-face {
    font-family: Quicksand;
    src: url(/assets/Quicksand-VariableFont_wght.ttf);
}

html, body {
    background-color: chartreuse;
    font-family: 'Quicksand', 'Tahoma', 'sans serif';
    
    margin: 0;
    padding: 0;
}

main {
    background-color: blue;
    background-image: url(/assets/bgimgwip2.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* At some point the even spacing this gave me disappeared and I don't know why */
    align-items: center;
}

section {
    background-color: magenta;
}

h1 {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

p {
    background-color: lightcoral;
    margin: 0;
}
/* END OF CONTROLS FOR ENTIRE PAGE */




/* HEADER FLEX ELEMENT */
header {
    background-color: red;
    height: 6vh; /* Bar heigh is 6% of viewport height */
    min-height: 20px; /* Bar cannot shrink less than 20px, even if 6% is less than 30px */
    padding-left: 0px 15px; /* First number = top/bottom, Second number = left/right */
    display: flex;
    justify-content: space-between;
}

/* NAV ELEMENT WITHIN HEADER FLEX ELEMENT */
#navbar {
    background-color: green;
    font-size: 18px;
}

/* LIST ELEMENT WITHIN NAVBAR ELEMENT - NAV BUTTONS */
.navbutton {
    background-color: orange;
    list-style-type: none;
    width: 150px;
    display: inline flex; /* INLINE to remove bullets from <li> , FLEX to control alignment of elements */
    justify-content: center;
    align-items: center;
}

.navbutton a:hover {
    background-color: pink;
}
/* END HEADER FLEX ELEMENT */



#home {
    width: 50%;
    min-height: 100vh;

}

#about {
    width: 50%;
    min-height: 100vh;

}

#projects {
    width: 50%;
    min-height: 100vh;

}




/* PROJECT GALLERY DIV */
#gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#gallery img {
    width: 30%;
}
/* END PROJECT GALLERY */




/* FOOTER FLEX ELEMENT */
footer {
    background-color:deepskyblue;
    min-height: 6vh;
    margin: 0;
    padding: 0;
}
/* Unknown gap above footer, showing page BG color */
/* END FOOTER FLEX ELEMENT */